.group {
  position:relative;
  label {
    color:#ded1ba;
    font-size:16px;
    font-weight:normal;
    position:absolute;
    pointer-events:none !important;
    left:5px;
    top:10px;
    transition:300ms ease all;
  }
  .campo-form {
    border:0;
    border-bottom:2px solid #ded1ba;
    background-color:rgba(255,255,255, 0.8);
    border-radius:0;
  }
  input[type="email"], input[type="text"] {
    width:90%;
    background:transparent !important;
    color:#ded1ba;
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-radius:0 !important;
    border-bottom:2px solid #ded1ba !important;
    &:focus {
      outline:none;
      & ~ label, input:valid ~ label {
        top:-14px;
        font-size:12px;
        color:white;
      }
      & ~ label, input:valid ~ label {
        top:-14px;
        font-size:12px;
        color:white;
      }
      & ~ .bar__::before {
        width:97%;
      }
    }
  }
  .bar__ {
    all: inherit;
    position:relative;
    display:block;
    width:100%;
    &:before {
      content:'';
      height:2px;
      width:0;
      bottom:0px;
      position:absolute;
      background:#ffffff;
      transition:300ms ease all;
      left:0%;
    }
  }
}

.button {
  color: #DADADA;
  background-color: transparent;
  border-radius: 0px !important;
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px 20px;
  border: 0 !important;
  border-bottom: 1px solid #DADADA !important;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  &:active {
    color: transparent;
    background-color: #DADADA;
    border: 0;
  }
  &:hover {
    background-color: transparent;
    color: #DADADA;
    border: 0;
    border-bottom: 1px solid #DADADA;
  }
  &:after {
    position: absolute;
    transition: 0.3s;
    content: "";
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
  }
  &:after {
    right: 0;
    left: auto;
  }
  &:hover {
    cursor: pointer;
    &:after {
      width: 100%;
      left: 0;
    }
  }
}

/* Fancy header
========================================================*/
.fancy {
	line-height: 0.5;
	text-align: center;
	color: #1cdbad;
  & span {
  	display: inline-block;
  	position: relative;
    &:before,
    &:after {
    	content: "";
    	position: absolute;
    	height: 5px;
    	border-bottom: 1px solid #1cdbad;
    	border-top: 1px solid #1cdbad;
    	top: 0;
    	width: 100px
    }
    &:before {
    	right: 100%;
    	margin-right: 15px
    }
    &:after {
    	left: 100%;
    	margin-left: 15px
    }
  }
}

/* FANCY SELECT
==============================================================*/

.icon_select_mate {
  position: absolute;
  top:20px;
  right: 2%;
  font-size: 16px;
    height: 22px;
  transition: all 275ms;
}

.select_mate {
  position: relative;
  float: left;
  min-width: 300px;
  width: 300px;
  min-height: 60px;
  font-family: 'Roboto';
  color: #777;
  font-weight: 300;
  background-color: #fff;
  box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.3);
  border-radius: 3px;
  transition: all 375ms ease-in-out;
/* Oculto el elemento select */
  select {
  position: absolute;
  overflow: hidden;
  height: 0px;
  opacity: 0;
    z-index: -1;
  }
}

.cont_list_select_mate {
  position: relative;
  float: left;
  width: 100%;
}

.cont_select_int {
 position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  overflow: hidden;
  height: 0px;
  width: 100%;
  background-color: #fff;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
  transition: all 375ms ease-in-out;

	li {
	position: relative;
    float: left;
    width: 96%;
    border-bottom:1px solid #E0E0E0;
    background-color: #F5F5F5;
    list-style-type: none;
    padding: 10px 2%;
    margin: 0px;
    transition: all 275ms ease-in-out;
    display: block;
    cursor:pointer;

		&:last-child {
        border-radius: 3px;
        border-bottom:0px;

        }
         &:hover {
		background-color: #EEEEEE;
		 }
     }

   .active {
   background-color: #EEEEEE;
   }

}

/* etiqueta <p> con la opcion selecionada  */
.selecionado_opcion {
    padding: 20px 2%;
    width: 96%;
    display: block;
    margin: 0px;
    cursor: pointer;
}
